<div *ngIf="spieler" class="container theme-showcase">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="block form-horizontal">
          <div class="block-title">
            <h2>Playerinfo: {{spieler.FirstName}} {{spieler.LastName}}</h2>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Photo</label>
            <div class="col-md-7">
              <img src="http://localhost:42382/api/players/image/{{ spieler.ID}}" class="image">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Firstname</label>
            <div class="col-md-7">
              <input type="text" class="form-control input-sm input-sm" value="{{ spieler.FirstName }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Lastname</label>
            <div class="col-md-7">
              <input type="text" class="form-control input-sm input-sm" value="{{ spieler.LastName }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Nickname</label>
            <div class="col-md-7">
              <input type="text" class="form-control input-sm input-sm" value="{{ spieler.Nickname }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Skills</label>
            <div class="col-md-7">
              <input type="text" class="form-control input-sm input-sm" value="{{ spieler.Skills }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">is Admin</label>
            <div class="col-md-7">
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isAdmin" disabled></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Presence</label>
            <div class="col-md-7">
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isMonday" disabled>Monday</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isTuesday" disabled>Tuesday</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isWednesday" disabled>Wednesday</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isThursday" disabled>Thursday</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isFriday" disabled>Friday</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="spieler.isSaturday" disabled>Saturday</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-7 offset-md-5">
              <button class="btn btn-default" (click)="goBack()">go Back</button>
              <button class="btn btn-default" (click)="goToEditForm(spieler)">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
