<div class="container theme-showcas">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Nickname</th>
        </tr>
        <tr *ngFor="let spiel of Spieler" (click)="onSelect(spiel)">
          <td>{{ spiel.ID }}</td>
          <td>{{ spiel.FirstName }}</td>
          <td>{{ spiel.LastName }}</td>
          <td>{{ spiel.Nickname }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
