<div *ngIf="spieler" class="container theme-showcas">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="block form-horizontal">
          <div class="block-title">
            <h2>Profil: {{spieler.FirstName}} {{spieler.LastName}}</h2>
          </div>
          <div class="form-group">
            <label for="FirstName" class="col-md-4 control-label">Firstname</label>
            <div class="col-md-7">
              <input type="text" id="FirstName" class="form-control input-sm input-sm" [(ngModel)]="spieler.FirstName">
            </div>
          </div>
          <div class="form-group">
            <label for="LastName" class="col-md-4 control-label">Lastname</label>
            <div class="col-md-7">
              <input type="text" id="LastName" class="form-control input-sm input-sm" [(ngModel)]="spieler.LastName">
            </div>
          </div>
          <div class="form-group">
            <label for="Nickname" class="col-md-4 control-label">Nickname</label>
            <div class="col-md-7">
              <input type="text" id="Nickname" class="form-control input-sm input-sm" [(ngModel)]="spieler.Nickname">
            </div>
          </div>
          <div class="form-group">
            <label for="Skills" class="col-md-4 control-label">Skills</label>
            <div class="col-md-7">
              <input type="text" id="Skills" class="form-control input-sm input-sm" [(ngModel)]="spieler.Skills">
            </div>
          </div>
          <div class="form-group">
            <label for="isAdmin" class="col-md-4 control-label">is Admin</label>
            <div class="col-md-7">
              <input id="isAdmin" type="checkbox" checked="{{ spieler.isAdmin }}" name="isAdmin">
            </div>
          </div>
          <div class="form-group">
            <label for="isAdmin" class="col-md-4 control-label">Presence</label>
            <div class="col-md-7">
              <input type="checkbox" [(ngModel)]="spieler.isMonday" (ngModelChange)="isMonday(i)" > Mo
              <input id="isTuesday" type="checkbox" checked="{{ spieler.isTuesday }}" name="isTuesday"> Tue
              <input id="isWednesday" type="checkbox" checked="{{ spieler.isWednesday }}" name="isWednesday"> Wed
              <input id="isThursday" type="checkbox" checked="{{ spieler.isThursday }}" name="isThursday"> Thu
              <input id="isFriday" type="checkbox" checked="{{ spieler.isFriday }}" name="isFriday"> Fr
              <input id="isSaturday" type="checkbox" checked="{{ spieler.isSaturday }}" name="isSaturday"> Sat
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-7 offset-md-5">
              <button (click)="goBack()">go Back</button>
              <button (click)="save(spieler)">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
